.export-redirects-form {
    .neos-control-group {
        &--checkbox {
            label {
                padding-left: 1.2rem;
            }

            input {
                position: absolute;
                margin-left: -1.2rem;
            }
        }
    }
}
