.redirects-filter {
    flex: 1;

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0 -#{$fieldSpacing};
    }

    .neos-control-group {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: #{$fieldSpacing};
        padding-right: #{$fieldSpacing};

        &--large {
            flex-basis: 300px;
        }

        &--fill {
            flex: 1;
        }

        &--right {
            align-items: flex-end;
        }

        &--auto {
            flex-basis: auto;
            align-self: flex-end;
        }

        input {
            width: 100%;
        }

        label {
            white-space: nowrap;
        }
    }
}
