.redirects-list__header {
    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 1rem;

    &:not(:first-child) {
        border-top: 1px solid #{$alternatingBackgroundColor};
        margin-top: 1.5rem;
        padding-top: 1.5rem;
    }
}
