$primaryColor: #00b5ff;
$alternatingBackgroundColor: #3f3f3f;
$inactiveColor: #9e9e9e;
$generatedColor: #2e8b57;
$newColor: #00a338;
$modifiedColor: #adff2f;
$warningColor: #ff4500;
$deletedColor: #ff8700;
$fieldSpacing: .3rem;
$commentFieldHeight: 40px;

// Custom tooltip (should later be replaced by Neos core feature)
$tooltipBackground: #3f3f3f;

// Datepicker overrides
$datepicker__background-color: #3f3f3f;
$datepicker__border-color: #666;
$datepicker__highlighted-color: $primaryColor;
$datepicker__muted-color: #ccc;
$datepicker__selected-color: $primaryColor;
$datepicker__text-color: white;
$datepicker__header-color: white;

.neos {
  .add-redirect-form,
  .redirects-filter {
    margin-bottom: 1.6rem;

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0 -#{$fieldSpacing};
    }

    .neos-control-group {
      flex: 0 1 200px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: #{$fieldSpacing};
      padding-right: #{$fieldSpacing};

      &--large {
        flex-basis: 300px;
      }

      &--auto {
        flex-basis: auto;
        align-self: flex-end;
      }
    }

    .textarea-wrap {
      position: relative;
      height: 40px;
    }

    textarea {
      width: 100%;
      height: #{$commentFieldHeight};
      transition: height .2s ease-in;
      line-height: 36px;
      position: absolute;
      top: 0;

      &:focus {
        height: #{$commentFieldHeight * 4};
      }
    }
  }

  .add-redirect-form {
    @import '../../../node_modules/react-datepicker/src/stylesheets/datepicker';

    .react-datepicker {
      line-height: initial;
      background-color: #{$datepicker__background-color};

      &__navigation {
        &:hover {
          background-color: transparent;
        }

        &--next--with-time {
          right: 10px;
        }
      }

      &__day {
        &:hover {
          background-color: #{$primaryColor};
        }
      }
    }

    .react-datepicker__time-container {
      &--with-today-button {
        border-color: #{$datepicker__border-color};
      }

      .react-datepicker__time {
        background-color: #{$datepicker__background-color};

        .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
          height: auto;

          &:hover {
            background-color: #{$primaryColor};
          }
        }
      }
    }
  }

  .export-redirects-form {
    .neos-control-group {
      &--checkbox {
        label {
          padding-left: 1.2rem;
        }

        input {
          position: absolute;
          margin-left: -1.2rem;
        }
      }
    }
  }

  .redirects-filter {
    &__pagination {
      padding: 5px 0;
      user-select: none;

      i {
        cursor: pointer;
        padding: 0 5px;
        transition: color .1s ease-in;

        &:not(.disabled):hover {
          color: #{$primaryColor};
        }

        &.disabled {
          cursor: initial;
          color: #{$inactiveColor};
        }
      }
    }
  }

  .redirects-table {
    &-wrap {
      overflow-x: auto;
    }

    thead {
      th {
        padding: 0 4px 4px 0;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: color .1s ease-in;

        &.redirect-table__heading-actions {
          text-align: center;
        }

        &:hover {
          color: #{$primaryColor};
        }
      }
    }

    tbody {
      td {
        padding: 0 4px 0 0;
        height: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 80%;
      }

      .neos-action {
        width: #{2 * 46px};

        form {
          display: inline-block;
        }
      }
    }

    &__row {
      mark {
        background-color: transparent;
        font-weight: bold;
        color: white;
        text-decoration: underline;
      }

      &.odd td {
        background-color: #{$alternatingBackgroundColor};

        .neos-button {
          &:not(:hover) {
            background-color: #{$alternatingBackgroundColor} !important;
          }
        }
      }

      &__column-status-code,
      &__column-hit-count {
        width: 80px;
      }

      &__column-status-code {
        border-left: 3px solid #{$newColor};
      }

      &__column-comment {
        max-width: 200px;
      }

      &__column-source-uri-path,
      &__column-target-uri-path {
        min-width: 200px;
        max-width: 450px;

        .copy-path {
          opacity: 0;
          visibility: hidden;
          cursor: pointer;
          margin-left: .5rem;
          transition: color .1s ease-in, opacity .1s ease-in;

          &:hover {
            color: #{$primaryColor};
          }
        }

        &:hover {
          .copy-path {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &__column-creation-date-time {
        width: 90px;
      }

      &--inactive {
        td {
          color: #{$inactiveColor};
        }

        .redirects-table__row__column-status-code {
          border-left: 3px solid #{$inactiveColor};
        }

        .redirects-table__row__column-start,
        .redirects-table__row__column-end {
          color: #{$warningColor};
        }
      }

      .redirect__type {
        color: #{$inactiveColor};
      }
    }
  }

  .redirects-hint {
    a {
      color: $primaryColor;
    }
  }

  table.redirects-protocol {
    td {
      height: auto;
      padding-top: .2rem;
      padding-bottom: .2rem;
      line-height: 1.3em;
      vertical-align: top;
    }
  }

  .redirects-protocol-entry {
    &--unchanged {
      color: #{$inactiveColor};
    }

    &--created {
      color: #{$newColor};
    }

    &--deleted {
      color: #{$deletedColor};
    }

    &--error {
      color: #{$warningColor};
    }

    &__label {
      width: 500px;
      max-width: 50%;
    }
  }
}

.redirect-edit-form {
  td {
    padding: 1rem;
    border-top: 0;
  }
}

.redirect-tooltip {
    position: absolute;
    padding: 1rem;
    background-color: #3f3f3f;
    z-index: 1;
    max-width: 300px;
    margin-left: 1rem;
    box-shadow: 0 1px 3px 5px rgba(0, 0, 0, .15);
}

.tail-datetime-calendar {
  .calendar-timepicker .timepicker-field:first-child input[type=number],
  .calendar-timepicker .timepicker-field:last-child input[type=number],
  .calendar-timepicker .timepicker-field input[type=number] {
    background-color: #101418;
  }

  .calendar-datepicker table tr td.date-disabled:after {
    display: none;
  }
}

.neos-notification-content {
  &.expandable {
    .neos-expand-content {
      display: none !important;
    }

    &.expanded {
      .neos-expand-content {
        display: block !important;

        ul {
          padding-left: 1rem;
          line-height: 1.3;
        }

        li {
          list-style: disc;
        }
      }
    }
  }
}

