.neos .add-redirect-form {
  $fieldSpacing: .3rem;
  margin-bottom: 2rem;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$fieldSpacing};
  }

  .neos-control-group {
    flex: 0 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: #{$fieldSpacing};
    padding-right: #{$fieldSpacing};

    &--large {
      flex-basis: 300px;
    }

    &--auto {
      flex-basis: auto;
    }
  }

  textarea {
    width: 100%;
    height: 40px;
    line-height: 36px;
  }
}

.neos .redirect-table {
  thead {
    th {
      padding: 0 4px 4px 0;


      &.redirect-table__heading-actions {
        text-align: center;
      }
    }
  }

  tbody {
    td {
      padding: 0 4px 0 0;
      height: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 450px;
    }

    tr:nth-child(2n) td {
      $alternatingBackgroundColor: #3f3f3f;
      background-color: #{$alternatingBackgroundColor};

      .neos-button {
        background-color: #{$alternatingBackgroundColor};

        &:hover {
          background-color: #00b5ff;
        }
      }
    }

    .neos-action {
      width: #{2 * 46px};

      form {
        display: inline-block;
      }
    }
  }

  &__row {
    &__column-status-code,
    &__column-hit-count {
      width: 70px;
    }
    &__column-creation-date-time {
      width: 90px;
    }
  }
}

#redirect-edit-form {
  display: none;

  &.open {
    display: table-row;
  }

  td {
    padding: 1rem;
  }
}
