.neos-table {
	overflow-x: auto;
	width: 100%;
}

.neos-table input {
	width: 100%;
}

.neos-table .statuscode-column input {
	padding-right: 0 !important;
}

.update-redirect-submit {
	position: relative;
	margin-top: -2px !important;
}

.neos.neos-module table.neos-table thead td:first-child,
.neos.neos-module table.neos-table thead td {
	padding: 0 4px 4px 0 !important;
}

.neos.neos-module table.neos-table thead td.statuscode-column {
	width: 120px;
}

.neos.neos-module table.neos-table thead td.neos-action {
	padding: 2px 0 4px !important;
	width: 97px;
}

.neos.neos-module table.neos-table tbody td:first-child,
.neos.neos-module table.neos-table tbody td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 450px;
}

.neos.neos-module table.neos-table .row-update td:first-child,
.neos.neos-module table.neos-table .row-update td {
	padding: 0 4px 0 0 !important;
}

.neos.neos-module table.neos-table .row-update td.neos-action {
	padding: 2px 0 0 !important;
}

.row-view--hidden {
	display: none;
}
